<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:wght@400;900&family=Splash&family=Tangerine:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>footer</title>
  </head>
  <body>

     <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

    <div class="container-fluid bg-dark mt-5">
            <br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col">
                    <h5 style="color: #98700d"><strong>Address</strong></h5><p style="color: white">1st Floor<br>2 – 7 Nizam uddin Road<br>F8 Markaz<br>Islamabad<br>Pakistan</p><br>
                    </div>
                    <div class="col">
                    <h5 style="color:#98700d"><strong>About</strong></h5><a href="/home" style="color: white">Home</a><br><a href="/extra" style="color: white">Case Studies</a><br><a href="/profiles" style="color: white">The Team</a><br><a href="/extra" style="color: white">Contact Us</a></p></div>
                    <div class="col">
                    <h5 style="color:#98700d"><strong>Information</strong></h5><a href="/extra" style="color: white">Terms of Use</a><br><a href="/extra" style="color: white">Privacy Policy</a><br><a href="/extra" style="color: white">Cookie Policy</a><br><br><p style="color: white">Website design by Dani</p></div>                    
                </div>
                <div class="row">
                    <div class="col">
                    <h5 style="color:#98700d"><strong><p style="text-align: right">Follow us:&nbsp;&nbsp;<a href="https://www.facebook.com/" class="fa fa-facebook"></a><a href="https://twitter.com/home" class="fa fa-twitter"></a><a href="https://www.google.com/" class="fa fa-google"></a><a href="https://www.linkedin.com/login" class="fa fa-linkedin"></a><a href="https://www.youtube.com/" class="fa fa-youtube"></a><a href="https://www.instagram.com/" class="fa fa-instagram"></a></p></strong></h5>
                    </div>
                </div>
                <hr>
                <div class="container-fluid bg-dark">
                    <p class="text-center bg-dark" style="color: white">Copyright © 2022. Dani Software House. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>